# Initial GPS data analysis
Reading in data from Lail and Grimes data collection from 9-May-2024 and plotting

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import datetime

import cartopy.crs as ccrs
import cartopy.io.img_tiles as cimgt
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER

### Read in data and parse by column header

In [10]:
filename = '24050900_truncate'

fullname = filename+'.csv'

filepath = os.path.join('Data', fullname)

df = pd.read_csv(filepath, parse_dates = [[0, 1]], header = None)

df.columns = ['time', 'elapsed time (sec)', 'lat_raw', 'N or S', 'lon_raw', 'E or W', 'altitude', 'speed', 'angle']

df.head()

,time,elapsed time (sec),lat_raw,N or S,lon_raw,E or W,altitude,speed,angle
0,2024-05-09 18:53:40,12,3408.5334,N,7752.0933,W,74.5,0.21,250.21
1,2024-05-09 18:53:41,13,3408.5210,N,7752.0894,W,74.4,0.21,250.21
2,2024-05-09 18:53:42,14,3408.5134,N,7752.0874,W,74.4,0.25,250.21
3,2024-05-09 18:53:43,15,3408.5107,N,7752.0869,W,74.3,0.46,250.21
4,2024-05-09 18:53:44,16,3408.5100,N,7752.0864,W,74.3,0.55,250.21

In [11]:
# GPS spits out lat DDMM.MMMM, lon DDDMM.MMMM, so additional processing required
def lat_convert(lat_badfmt):
    lat_badfmt = str(lat_badfmt)
    lat_DD = int(float(lat_badfmt)/100) # get DDD part
    lat_MM = float(lat_badfmt)-lat_DD*100 # get MM.MMM part
    lat_deg = float(lat_DD)+float(lat_MM)/60 # add minutes divided by 60 to degrees
    return lat_deg

def lon_convert(lon_badfmt):
    lon_badfmt = str(lon_badfmt)
    lon_DD = int(float(lon_badfmt)/100) # get DDD part
    lon_MM = float(lon_badfmt)-lon_DD*100 # get MM.MMM part
    lon_deg = float(lon_DD)+float(lon_MM)/60 # add minutes divided by 60 to degrees
    return lon_deg

# Do the conversion on real data
df['lat'] = df['lat_raw'].apply(lat_convert)
df['lon'] = df['lon_raw'].apply(lon_convert)

# South should be negative
south = df['N or S'] == 'S'
df['lat'][south] *= -1 

# West should be negative
west = df['E or W'] == 'W'
df['lon'][west] *= -1 

# Take a look
df.head()

/var/folders/7t/xlh_vvfj7p353njns063zqhw0000gn/T/ipykernel_73144/251891894.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lat'][south] *= -1
/var/folders/7t/xlh_vvfj7p353njns063zqhw0000gn/T/ipykernel_73144/251891894.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['lon'][west] *= -1

,time,elapsed time (sec),lat_raw,N or S,lon_raw,E or W,altitude,speed,angle,lat,lon
0,2024-05-09 18:53:40,12,3408.5334,N,7752.0933,W,74.5,0.21,250.21,34.142223,-77.868222
1,2024-05-09 18:53:41,13,3408.5210,N,7752.0894,W,74.4,0.21,250.21,34.142017,-77.868157
2,2024-05-09 18:53:42,14,3408.5134,N,7752.0874,W,74.4,0.25,250.21,34.141890,-77.868123
3,2024-05-09 18:53:43,15,3408.5107,N,7752.0869,W,74.3,0.46,250.21,34.141845,-77.868115
4,2024-05-09 18:53:44,16,3408.5100,N,7752.0864,W,74.3,0.55,250.21,34.141833,-77.868107